* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
.timer {
  display: flex;
  gap: 10px;
 }
 .field {
 
 }
 .label {
  display: block;
  text-transform: uppercase;
  font: italic 1.2em "Fira Sans", serif;
  font-size: 12px;
  font-weight: bold;
 }
 .value {
  display: block;
  text-align: center;
   font-size: 30px;
   font-weight: normal;
 }